{{ define "main" }}

{{ if .Site.Params.banner1.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-cloud-area">
    <div class="block container"> 
      <div class="cloud-icon">
        <img src="/images/logos/cloud-logo.png" alt="cloud logo">
      </div>
        {{with .Site.Params.banner1.icon}}
        {{ end }}
       {{with .Site.Params.banner1.heading}} <h1>{{ . }}</h1>{{ end }}
       {{with .Site.Params.banner1.content}} <h2>{{ . }}</h2> {{ end }}
       {{ if .Site.Params.banner1.btn}}
        {{ end }}

        <div class="hero-cloud-img"></div> 
        <div class="form-box">
            <form action="action_page.php">

                <div class="form-label">
                  <label for="fname">Username</label>
                </div>
                <div class="input-box">
                  <input type="text" id="uname" name="username" placeholder="|">
                </div>
          
           
                <div class="form-label">
                  <label for="password-label">Last Name</label>
                </div>
                <div class="input-box">
                  <input type="text" id="pword" name="password" placeholder="|">
                </div>
         
              <div class="submit-button">
                <input type="submit" value="Submit">
              </div>
            </form>
    
    </div>
    
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}


{{ partial "navigation.html" . }}




{{"<!-- section title -->" | safeHTML}}

<div class="col-lg-12 section">
    <div class="title text-center wow fadeInUp" data-wow-duration="1500ms">
        <h2>{{ with .Site.Data.cloud.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.cloud.headingSpan }} {{ . }} {{ end }}</span></h2>
        <div class="border-meghna"></div>
    </div>
</div>
{{"<!-- /section title -->" | safeHTML}}



<div class="col-lg-12 section trusted-partner">
  <div class="wow fadeInUp" data-wow-duration="1500ms">
   <div class="container">
     <div class="cloud-flex-container">
       <div class="flex-left">
        <h2>Proactive Support</h2>  
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel consequuntur distinctio eaque, perferendis totam dignissimos voluptatum error asperiores quae, commodi excepturi porro! Quaerat dolore numquam molestias nihil earum! Natus ducimus esse eum perspiciatis, aut ipsum, nesciunt veritatis laborum dignissimos, fugit atque velit accusantium cum vitae culpa cupiditate. Id, saepe corrupti.</p>
       </div>
       <div class="flex-right">
        <img src="/images/logos/Control-Envy_Logo-Trusted-Consultant-Dark_2018.svg" alt="Trusted Consultants Logo" >
       </div>
      </div> 
   </div>
  </div>
</div>


<div class="col-lg-12 section trusted-partner">
    <div class="wow fadeInUp" data-wow-duration="1500ms">
     <div class="container">
       <div class="box-flex-container">
         <div class="box">
           <h2>Dynamic View</h2>
           <p>Titles, menus, and lists use indirect text and can be changed without reloading graphics files, which dramatically decreases the time it takes to deploy end-user customizations.</p>
         </div>
         <div class="box">
            <h2>Quality Control</h2>
            <p>Crescendo programs are slim and organized by design. Tight crosspoint routing, low signal overhead, and single points of data entry for configuration all contribute to compiled programs that can be trusted even for off-site deployment.</p>
          </div>
          <div class="box">
              <h2>Customizable Interfaces</h2>
              <p> The demo interfaces are examples of how users can interact with Crescendo. Advanced programmers can create their own interface logic to support any design concept while harnessing the power of the framework.</p>
            </div>
            <div class="box">
                <h2>Easy Extensions</h2>
                <span class="icon-box media">
                   <i class="tf-ion-clipboard"></i>
                </span>
                <p id="wrap">Crescendo modules link easily with other pieces of code. Modules expose many useful (generally optional) inputs and outputs for data like volume feedback and state changes.</p>
            </div>
          </div>    
        
     </div>
    </div>
  </div>
  

{{ end }}

