{{ define "main" }}

{{ if .Site.Params.banner1.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero1-area">
      <div class="hero1-img-1">
            <img src="./images/slider/Crescendo2-logo.svg" alt="ipad and iphone using crescendo">
        </div> 
    <div class="block"> 
        {{with .Site.Params.banner1.icon}}

        {{ end }}
     
       {{with .Site.Params.banner1.heading}} <h2>{{ . }}</h2>{{ end }}
       {{with .Site.Params.banner1.content}} <h2>{{ . }}</h2> {{ end }}
       {{ if .Site.Params.banner1.btn}}
        <a data-scroll href="{{ .Site.Params.banner1.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner1.btnText}}</a>
        {{ end }}
    </div>
    <div class="hero1-img">
      <img src="./images/slider/Crescendo-Hero.png" alt="ipad and iphone using crescendo">
    </div>    
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}

<div class="info-bar">
        <div class="info-bar-content">
            <span><a href="https://github.com/adelyte/crescendo/issues">Latest‌ Update‌ on‌ Github</a> </span>
            <span>2019-02-19</span>
            <span> <a href="https://github.com/adelyte/crescendo/commit/140b166b88c6b5f26a8a37e610c7990acfd2e82c">140b166b88</a></span>
            <span>Improved swamp volume control and startup level sync, #93</span>
        </div>
    </div>


{{ partial "navigation.html" . }}




{{"<!-- section title -->" | safeHTML}}

<div class="col-lg-12 section">
    <div class="title text-center wow fadeInUp" data-wow-duration="1500ms">
        <h2>{{ with .Site.Data.framework.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.framework.headingSpan }} {{ . }} {{ end }}</span></h2>
        <div class="border-meghna"></div>
    </div>
</div>
{{"<!-- /section title -->" | safeHTML}}



<div class="container fvideo-container">
    <div class="left-content-video">
        <h2>Crescendo is the only free and open-source framework for programming <strong>reliable</strong> and <strong>robust</strong> control systems in SIMPL Windows for the Crestron platform. It creates <strong>scalable</strong>  programs with features and data control found in only the most refined systems—with a lot of <strong>heavy lifting done for you.</strong></h2>
        <a href="#" class="btn btn-transparent">Download</a>
        <a href="#" class="btn btn-transparent">Documentation</a>
        <a href="#" class="btn btn-transparent">Github</a>

    </div>
    <div class="embed-responsive embed-responsive-16by9 right-content-video">
            <video controls="true" class="embed-responsive-item">
              <source src="/images/Crescendo Trailer.mp4" type="video/mp4" />
            </video>
        </div>
</div>



<div class="container hood">
    <div class=" pricing-paragraph row">
        <h2>Under the Hood</h2>
        <h3>The Crescendo Demo is built according to the <a href="https://github.com/adelyte/crescendo/issues/21">Scope of Work.</a></h3>
     </div>   
    <div class="row">
      {{ range .Site.Data.hood.hoodItem }}
    <div class="col-lg-6">
             
    <div class="align-self-start mr-3">
      {{with .iconhood}} <i class="{{ . }}"></i> {{ end }}
    </div>
    <div class="media-body">
      {{with .titlehood}} <h4 class="media-heading">{{ . }}</h4>{{ end }}
      {{ with .contenthood}} <p>{{ . }}</p> {{ end }}
    </div>
                
     </div>
    {{ end }}
  </div>
           
</div>

<!-- Carousel-->

<div class="fotorama container"  data-width="100%" data-ratio="600/400">
  <img class="fotorama-ipad "src="/images/slider/gallery_6_lighting_ipad-f79fa27201cd21faf061b87186ee15ac.png" width="100%" height="60%">
  <img src="/images/slider/gallery_5_sharing_ipad-e4176654dc979ca695ca6fee37e7d7ac.png">
  <img src="/images/slider/gallery_1_home_ipad-a643376b6e5c2f4af51b19239b69fee7.png">
  <img src="/images/slider/gallery_7_climate_ipad-e24356e6ca5e50f574f153638e17efbb.png">
</div>

<div class="container">
  <div class="pricing-paragraph row">
        <h2>FAQ's</h2>
        <h5><strong>How well does Crescendo scale?</strong></h5>
        <p>Crescendo is an open-source project hosted on Github. Adelyte maintains the core set of modules, but other developers are encouraged to get involved in every aspect of the project. Anyone can sign up with Github and issue a pull request on any module in the framework.</p>

        <h5><strong>Who maintains Crescendo?</strong></h5>
        <p>Crescendo is an open-source project hosted on Github. Adelyte maintains the core set of modules, but other developers are encouraged to get involved in every aspect of the project. Anyone can sign up with Github and issue a pull request on any module in the framework.</p>

        <h5><strong>How much does Crescendo cost?</strong></h5>
        <p>Crescendo is free like beer and free like speech. It is licensed under the <a href="https://www.gnu.org/copyleft/lesser.html">LGPL</a>.</p>

        <h5><strong>What are the ramifications of the LGPL?</strong></h5>
        <p>We cannot provide legal advice, but our intention is that customers receive the source code to their projects.</p>


        <h5><strong>Where did Crescendo come from?</strong></h5>
        <p>Crescendo is the production framework underlying every project Adelyte programs. Through years working in large residential systems we have left projects with code that Intermediate programmers can maintain and support. The framework has been used in its present form since early 2010.</p>

  </div>            

  <div class="pricing-paragraph row">
        <h2>Support</h2>
        <p>Adelyte uses Crescendo exclusively. Our bread-and-butter is providing turn-key software development for large, complex control systems. We are happy to answer support questions and work as a team-extension. <a href="#">Contact us </a> for help of any sort.</p>
  </div>            
</div> 


{{ end }}

