<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{else if .IsPage}}{{ .Summary | plainify}}{{ else }}{{.Site.Params.description}}{{ end }}">
    <meta name="author" content="{{ with .Params.author }}{{ . }}{{else}}{{ with .Site.Params.author}}{{ . }}{{ end }}{{end}}">
    <meta name="keywords" content = " adelyte, crestron, cresendo, home automation, smart building, alexa, AMX, home systems, automation, smart, theater systems, control panel, control systems, programming,
    WHITLOCK, AUDIO, FIDELITY, COMMUNICATIONS, CORP, Troxell, tritech,  Audo visual innovations, inc, avi-spl, diversified systems one, carousel industries, north america, video corp of america, VSGI, unified technology systems, avi systems inc, crestron partners, crestron dealers, crestron integrators">

    {{ "  <!-- Mobile Specific Meta -->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ .Hugo.Generator }}

    <title>{{ if .IsHome }}{{ .Site.Title }}{{" | "}}{{ .Site.Params.Description }}{{ else if .IsPage}}{{ .Title }}{{" | "}}{{ .CurrentSection.Title }}{{else if eq .Section "author" }}{{if .Params.name}}{{.Params.name}} | {{ i18n "authorOfPostsOnBlog" }} „{{.Site.Title}}" {{else}}{{ i18n "authorsOfPostsOnBlog" }} „{{.Site.Title}}"{{end}}{{else if eq .Section "blog" }}{{ i18n "blogs" }} | {{ .Site.Title}}{{else}}{{ .Title }}{{with .Params.Description}}{{" | " .}}{{ end }}{{ end }}</title>


    {{"<!-- Favicon -->" |safeHTML}}
    <link rel="shortcut icon" type="image/x-icon" href="{{ "images/favicon.ico" | absURL }}"/>

    {{"<!-- CSS -->"|safeHTML}}
    {{"<!-- Fontawesome Icon font -->"|safeHTML}}
    <link rel="stylesheet" href="{{"plugins/themefisher-font/style.css" | absURL}}">
    {{"<!-- bootstrap.min css -->"|safeHTML}}
    <link rel="stylesheet" href="{{"plugins/bootstrap/dist/css/bootstrap.min.css"|absURL}}">
    {{"<!-- Animate.css -->"|safeHTML}}
    <link rel="stylesheet" href="{{"plugins/animate-css/animate.css"|absURL}}">
    {{"<!-- Magnific popup css -->"|safeHTML}}
    <link rel="stylesheet" href="{{"plugins/magnific-popup/dist/magnific-popup.css"|absURL}}">
    {{"<!-- Slick Carousel -->"|safeHTML}}
    <link rel="stylesheet" href="{{"plugins/slick-carousel/slick/slick.css"|absURL}}">
    <link rel="stylesheet" href="{{"plugins/slick-carousel/slick/slick-theme.css"|absURL}}">
    {{"<!-- Main Stylesheet -->"|safeHTML}}
    {{ $styles := resources.Get "css/style.css" | minify}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    {{ "<!-- Custom CSS -->" | safeHTML }}
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

</head>
