{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area">
    <div class="hero-img">
        <img src="./images/backgrounds/hero-graphic.png" alt="Smart City Graphic">
    </div> 
      <div class="block">
        {{with .Site.Params.banner.icon}}
        {{ end }}
       {{with .Site.Params.banner.heading}} <h1>{{ . }}</h1>{{ end }}
       {{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>
        {{ end }}
    </div>

  

</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}