

{{ if .Site.Data.pricing.enable}}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.pricing.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.pricing.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

    
            <div class="pricing-paragraph row">
             <h2>Flat-rate Proposals</h2>
             <h3>Proposals with à la carte pricing are available upon request.</h3>
             <h5><strong>Deposits</strong></h5>
             <p>Projects less than $5,000 must be prepaid in full.<br>Projects more than $5,000 must pay a deposit of 60% or $5,000, whichever is greater.</p>
            </div>


             <!----------------------------------------------------------------------------
            Hourly Plan Code 
            ------------------------------------------------------------------------------>

            <div class="pricing-paragraph row">
              <h2>Hourly Support</h2>
              <h3>On-site and off-site hourly support is available to everyone.</h3>
            </div>
      
      
                  <div class="hourly">
                      <span class="hourly-p">
                              <h5><strong>Billing Increments</strong></h5>
                              <p>Time is billed in 6-minute increments.</p>
      
                              <h5><strong>Off Hours</strong></h5>
                              <p>Work outside of <strong>normal business hours</strong> is billed at time-and-a-half.</p>
      
                              <h5><strong>Travel Time</strong></h5>
                              <p>On-site support is based on door-to-door time.</p>

                              <h5><strong>Short Notice</strong></h5>
                              <p>Support scheduled less than one week in advance incurs a one-hour surcharge.<br>
                                On-site support scheduled less than 24-hours in advance incurs a $500 surcharge.</p>

                              <h5><strong>Snail Mail</strong></h5>
                              <p>Each invoice delivered via mail incurs a $25 surcharge.</p>
                      </span>
      
      
                    {{ range .Site.Data.pricing3.pricingTable }}
                    {{"<!-- single pricing table -->" | safeHTML}}
                    <div class=" hourly-box text-center wow fadeInUp" data-wow-duration="200ms">
                      <div class="price-item3">
      
                          {{"<!-- plan name & value -->" | safeHTML}}
                          <div class="price-title3">
                              <h3>{{ .title3 }}</h3>
                              <p><strong class="value">{{ .price3 }}</strong>/ {{ .time3 }}</p>
                              <p>{{ .content}}</p>
                          </div>
      
                          {{"<!-- plan description -->" | safeHTML}}
                          <ul>
                              {{ range .plan3 }}
                              <li>{{ .planDetails3 }}</li>
                              {{ end }}
                          </ul>
      
                          {{"<!-- signup button -->" | safeHTML}}
                          <a class="btn btn-transparent" href="{{ .btnURL | absURL}}">{{ .btnText }}</a>
      
                      </div>
                      {{"<!-- end single pricing table -->" | safeHTML}}
                      {{ end }}
                    </div>
                  </div>
      
      
         <!----------------------------------------------------------------------------
         End Hourly Plan Code 
         ------------------------------------------------------------------------------>

         <!----------------------------------------------------------------------------
         Pre-aid Plan Code 
         ------------------------------------------------------------------------------>



            <div class="pricing-paragraph row">
              <h2>Prepaid Support</h2>
              <h3>Prepaid allowances of hours are available at a significant discount.</h3>
            </div>
                


            {{ range .Site.Data.pricing.pricingTable }}
            {{"<!-- single pricing table -->" | safeHTML}}
            <div class="col-lg-4 col-md-4 col-12 text-center wow fadeInUp" data-wow-duration="200ms">
                <div class="price-item">

                    {{"<!-- plan name & value -->" | safeHTML}}
                    <div class="price-title">
                        <h3>{{ .title }}</h3>
                        <p><strong class="value">{{ .price }}</strong>/ {{ .time }}</p>
                        <p>{{ .content}}</p>
                    </div>

                    {{"<!-- plan description -->" | safeHTML}}
                    <ul>
                        {{ range .plan }}
                        <li>{{ .planDetails }}</li>
                        {{ end }}
                    </ul>

                    {{"<!-- signup button -->" | safeHTML}}
                    <a class="btn btn-transparent" href="{{ .btnURL | absURL}}">{{ .btnText }}</a>

                </div>
            </div>
            {{"<!-- end single pricing table -->" | safeHTML}}
            {{ end }}


           <!----------------------------------------------------------------------------
           End Pre-Paid Plan Code 
           ------------------------------------------------------------------------------>




            <!----------------------------------------------------------------------------
            Legacy Plan Code 
            ------------------------------------------------------------------------------>

            <div class="pricing-paragraph row">
              <h2>Legacy Code</h2>
              <h3>Software written by other programmers can be supported subject to a surcharge.</h3>
            </div>


            <div class="legacy">
                <span class="legacy-p">
                        <h5><strong>Definition</strong></h5>
                        <p>Legacy code is existing code written by other programmers.</p>

                        <h5><strong>Purpose</strong></h5>
                        <p>Support of legacy code provides no business value beyond current income. The surcharge recoups the opportunity cost of this support.</p>

                        <h5><strong>Alternative</strong></h5>
                        <p>Any serviceable system can be reprogrammed. For small systems, this will be less expensive than the surcharge.</p>
                </span>


              {{ range .Site.Data.pricing2.pricingTable }}
              {{"<!-- single pricing table -->" | safeHTML}}
              <div class=" legacy-box text-center wow fadeInUp" data-wow-duration="200ms">
                <div class="price-item2">

                    {{"<!-- plan name & value -->" | safeHTML}}
                    <div class="price-title2">
                        <h3>{{ .title2 }}</h3>
                        <p><strong class="value">{{ .price2 }}</strong> {{ .time2 }}</p>
                        <p>{{ .content}}</p>
                    </div>

                    {{"<!-- plan description -->" | safeHTML}}
                    <ul>
                        {{ range .plan2 }}
                        <li>{{ .planDetails2 }}</li>
                        {{ end }}
                    </ul>

                    {{"<!-- signup button -->" | safeHTML}}
                    <a class="btn btn-transparent" href="{{ .btnURL | absURL}}">{{ .btnText }}</a>

                </div>
                {{"<!-- end single pricing table -->" | safeHTML}}
                {{ end }}
              </div>
            </div>


            <!----------------------------------------------------------------------------
            End Legacy Plan Code 
            ------------------------------------------------------------------------------>


            
           <!----------------------------------------------------------------------------
            Travel Prices Code 
            ------------------------------------------------------------------------------>



            <div class="pricing-paragraph row">
              <h2>Travel</h2>
              <h3>On-site support is available worldwide with transparent at-cost pricing.</h3>
            </div>
                  

            <div class="travel">
                    <span class="travel-p">
                            <h5><strong>Lodging</strong></h5>
                            <p>Lodging of one week or less is taken in a nearby mid-scale, limited-service hotel (preferably Hilton Garden Inn). Lodging more than one week is taken in a nearby extended-stay hotel (preferably Homewood Suites).</p>
    
                            <h5><strong>Airfare</strong></h5>
                            <p>Domestic air travel is provided by full-service airlines in business class with itineraries based on and in order of: nonstop routes, client's preferred arrival time, lowest cost at booking, and traveler's preferred airline.<br><br>
                               Clients are responsible for change and cancellation fees, but clients may request refundable fares instead.<br><br>
                               Airfare will not exceed the cost from our headquarters in Atlanta, Georgia without prior written consent.</p>
    
                            <h5><strong>Safety</strong></h5>
                            <p>Safety expenses apply to international travel and may include health and evacuation insurance and kidnapping, ransom, and extortion insurance.</p>
                    </span>

                    <div class="travel-box">
                        <table> 
                            <tr class="travel-title"> 
                                <th>Expense</th> 
                                <th>Standard</th>
                            </tr> 
                            <tr class="table-item"> 
                                <td>Meals & <br>Incidentals</td> 
                                <td>GSA or DoD <br>per diem rate</td> 
                            </tr> 
                            <tr class="table-item"> 
                                <td>Lodging</td>        
                                <td>Actual expenses</td> 
                            </tr> 
                            <tr class="table-item"> 
                                <td>Mileage</td> 
                                <td>IRS mileage rate</td> 
                            </tr> 
                            <tr class="table-item"> 
                                <td>Airfare</td> 
                                <td>Actual expenses</td> 
                            </tr> 
                            <tr class="table-item"> 
                                <td>Car Rental</td> 
                                <td>Actual expenses</td> 
                            </tr> 
                            <tr class="table-item"> 
                                <td>Other Transit</td> 
                                <td>Actual expenses</td> 
                            </tr> 
                            <tr class="table-item"> 
                                <td>Safety</td> 
                                <td>Actual expenses</td> 
                            </tr> 
                        </table>
                    </div>
    
    
            </div>


            







            <div class="pricing-paragraph row">
              <h2>Payment Methods</h2>
              <h3>Invoices are payable via check, credit card, and debit card.</h3>
            </div>

            <div class="pricing-paragraph row">
                    <h2>FAQ's</h2>
                    <h5><strong>As an integrator, I need margin on your services. Will you provide me with a discount so I can make a profit?</strong></h5>
                    <p>We offer the same discounts for prepaid allowances to integrators and end-users. As an integrator, you are much more likely to be able to use a large allowance than an end-user. There is a lot of margin in our <strong>Prepaid 100</strong> allowance.</p>

                    <h5><strong>How do you handle past-due invoices?</strong></h5>
                    <p>We do not release the source code until the project balance is paid.</p>

                    <h5><strong>Have you ever taken legal action against an integrator or end-user?</strong></h5>
                    <p>During our ten years in business, we have never sued a client, nor have we been sued by a client.</p>

            </div>            



        </div>
    </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}