{{ if .Site.Data.crescendo.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="crescendo" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.crescendo.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.crescendo.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.crescendo.crescendoItem}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="crescendo-block text-center">
                    <div class="crescendo-icon text-center">
                        <i class="{{ .iconc }}"></i>
                    </div>
                    <h3>{{ .titlec }}</h3>
                    <p>{{ .contentc }}</p>
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}




{{ if .Site.Data.service.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.service.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.service.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.service.serviceItem}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3>{{ .title }}</h3>
                    <p>{{ .content }}</p>
                    {{"<!-- signup button -->" | safeHTML}}
                    <a class="btn btn-transparent" href="{{ .btnURL | absURL}}">{{ .btnText }}</a>

                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}